/*
poistaa kaikkien elementtien
marginaalit ja paddingit
*/
*{
	padding: 0;
	margin: 0;
}
body{
	background: #F8F8F8;
	font-family: 'Source Sans Pro', sans-serif;
	color: #999999;
	font-size: 17px;
}
article{
	padding-left: 0px;
}
header{
	/*text-transform: uppercase;*/
	text-align: center;
	margin-top: 0px;
	color: #f8f8f8;
}

.etusivuruudut{
	padding-top: 1.5rem;
}
.tuotteet{
	padding-top: 1.5rem;

}
.navbar{
padding: 1px 1px 1px 1px;
}
/* nav-tagin sisällä olevat li-tagit */

.bg-light{
  background-color: #9B8579 !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #f8f8f8;
	font-size: 24px;
}

.navbar-light .navbar-nav .active>.nav-link{
    color: #ffe6cc;
}

.container {
  /*padding-right: 200px;*/
  /*padding-left: 45px;*/
  margin-right: auto;
  margin-left: auto;
}


footer .item {
	margin-right: 45px;
	color: #f8f8f8;
}

footer {
	clear: both;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
  	background-color:  #9B8579;
  	text-align: center;
}
.pagination{
	float:right;
}

.page-item.active .page-link{
    color: #868e96;
    background-color: #ffe6cc;
    border-color: #ffe6cc;
}
.page-link {
    position: right;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #868e96;
    background-color: #fff;
    border: 1px solid #ffe6cc;
	}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 5.5rem;
    padding-left: 7rem;
	}
}
@media (max-width: 480px) {


}

@media (min-width: 992px) {
  .container {
    /*width: 970px;*/
  }
}
@media (min-width: 1200px) {
  .container {
    /*width: 1170px;*/
  }
}

/*fb*/
.btn-facebook {
	color: #fff;
	background-color: #4C67A1;
	font-size: 12px;
}
.btn-facebook:hover {
	color: #fff;
	background-color: #405D9B;
}
.btn-facebook:focus {
	color: #fff;
}


